<aside class="scores"> 
  <h3><span>Player 1 name</span><br/> Score : <span class="score"> </span></h2>
  <h3><span>Player 2 name</span><br/> Score : <span class="score"> </span></h2>
</aside>
<aside class="scoring"> 
 <ul class="text-center scoring">
    <li>Each 1: 100 points</li>
    <li>Each 5: 50 points</li>
    <li>Rolling three 1s: 1000 points</li>
    <li>Rolling three 2s: 200 points</li>
    <li>Rolling three 3s: 300 points</li>
    <li>Rolling three 4s: 400 points</li>
    <li>Rolling three 5s: 500 points</li>
    <li>Rolling three 6s: 600 points</li>
  </ul>
</aside>

<!-- Display rolls -->
<div class="result"></div>
<!-- Dispaly possible scores -->
<div class="possible"></div>

<a href="#" class="roll-dice">Roll the dice</a>


