<div class="lightbox">
  <div class="alerts">
 
  </div>
</div>

<div class="users"> 
  <h3 id="player1">
    <span>Player 1</span><br/> 
    Score : <span id="p1score" class="score">0</span><br/> 
    Hot Dice : <span id="hot-1" class="hot">0</span><br/>
    <span class="farkled">Farkled : <span id="f-count-1" class="farkle-count">0</span></span><br/>
    Best Turn : <span class="best" id="best-1">0</span>
  </h3>
  <h3 id="player2">
    <span>Player 2</span><br/> 
    Score : <span id="p2score" class="score">0</span> <br/>
    Hot Dice : <span id="hot-2" class="hot">0</span><br/>
    <span class="farkled">Farkled : <span id="f-count-2" class="farkle-count">0</span></span><br/> 
    Best Turn : <span class="best" id="best-2">0</span>
  </h3>
</div>
<aside class="scoring"> 
<p>Points:</p>
 <ul class="text-center">
    <li>Each 1: 100 points</li>
    <li>Each 5: 50 points</li>
    <li>Rolling three 1s: 1000 points</li>
    <li>Rolling three 2s: 200 points</li>
    <li>Rolling three 3s: 300 points</li>
    <li>Rolling three 4s: 400 points</li>
    <li>Rolling three 5s: 500 points</li>
    <li>Rolling three 6s: 600 points</li>
  </ul>
</aside>
 <div class ="game-table">
   <div class="info"> 
     <div>Dice left : <span class="dice-count">6</span></div>
     <div> Score this turn : <span class='turn-score'>0</span></div>
     <div>Player <span class='player-turn'>1</span>'s turn</div>
   </div>
  <!-- Display rolls --> 
  <div class="result"></div>
 </div>

<!-- Dispaly possible scores -->
<div class="possible"></div>

<div class="game-controls">
  <a href="#" class="roll-dice controls">Roll the dice</a>
  <a href="#" class="controls" id="end-turn">End Turn</a>
</div>

