<section class="content">
  <h1 class="text-center">Let's play Farkle!</h1>

  <p>Farkle is a dice game played by rolling 6 dice. A player wins by obtaining a score of 10,000</p>
  
  <p class="text-center"> Scoring is as follows:</p>
  <ul class="text-center ">
    <li>Rolling 1: 100 points</li>
    <li>Rolling 5: 50 points</li>
    <li>Rolling three 1s: 1000</li>
    <li>Rolling three 2s: 200</li>
    <li>Rolling three 3s: 300</li>
    <li>Rolling three 4s: 400</li>
    <li>Rolling three 5s: 500</li>
    <li>Rolling three 6s: 600</li>
  </ul>

<h3 class="text-center">Additional Rules</h3>
<ul class="rules">
  <li>You keep rolling the dice until you end your turn or don't roll scoring dice</li>
  <li>You remove scoring dice each throw and your next throw will only have the remaining dice</li>
  <li>If no dice score, you have Farkled! You lose all points for that turn</li>
  <li>If you score with all 6 dice after any number of throws, you have hot dice, and get to throw 6 more!</li>
</ul>

  <a href="/farkle" class="button">Let's Play!</a>

</section>
