<section class="content">  
  <h1 class="text-center">Let's play Farkle!</h1>

  <p>Farkle is a dice game played by rolling 6 dice. A player wins by obtaining a score of 10,000</p>
  <p class="text-center"> Scoring is as follows below:</p>

  <ul class="text-center ">
    <li>Rolling 1: 100 points</li>
    <li>Rolling 5: 50 points</li>
    <li>Rolling three 1s: 1000</li>
    <li>Rolling three 2s: 200</li>
    <li>Rolling three 3s: 300</li>
    <li>Rolling three 4s: 400</li>
    <li>Rolling three 5s: 500</li>
    <li>Rolling three 6s: 600</li>
  </ul>
  <p class="text-center">You choose to remove scoring dice, and can continue to roll the remaining dice.</p>
  <p>If you don't score on your next role, you farkle and lose all points from your current turn!</p>


  <a href="/farkle" class="button">Let's Play!</a>

</section>
