<!DOCTYPE html>
<html>
<head>
  <title>Farkle!</title>
 <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
 <link href="http://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Alegreya:700" rel="stylesheet" type="text/css" />
</head>
<body>

<%= yield %>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src='/js/farkle.js'></script>
<script type="text/javascript" src='/js/ajax.js'></script>
</body>
</html>