/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 12, ../sass/styles.scss */
div, p, td, tr, em, strong, li, a {
  font-family: "Roboto", sans-serif;
  line-height: 1.5em;
  font-size: 16px;
}

/* line 17, ../sass/styles.scss */
ul {
  margin-top: 20px;
}
/* line 19, ../sass/styles.scss */
ul li {
  left: 0px;
}

/* line 25, ../sass/styles.scss */
h1, h2, h3, h4 {
  font-family: "Alegreya", serif;
  margin-bottom: 20px;
}

/* line 30, ../sass/styles.scss */
h1 {
  font-size: 36px;
  font-weight: bold;
}

/* line 35, ../sass/styles.scss */
h2 {
  font-size: 24px;
  font-weight: bold;
}

/* line 40, ../sass/styles.scss */
h3 {
  font-size: 21px;
  font-weight: bold;
}

/* line 45, ../sass/styles.scss */
.text-center {
  text-align: center;
}

/* line 50, ../sass/styles.scss */
.content {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

/* line 56, ../sass/styles.scss */
button {
  margin-left: 295px;
  width: 100px;
  margin-top: 20px;
}

/* line 64, ../sass/styles.scss */
.scores {
  float: left;
}

/* line 68, ../sass/styles.scss */
.scoring {
  float: right;
}

/* line 72, ../sass/styles.scss */
.result {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  margin-top: 10px;
}

/* line 80, ../sass/styles.scss */
.farkled {
  color: #ff2800;
  font-style: italic;
  font-weight: bold;
}

/* line 86, ../sass/styles.scss */
.choose-points {
  margin-top: 0;
}
/* line 88, ../sass/styles.scss */
.choose-points li {
  margin-bottom: 10px;
  border: 1px solid green;
  cursor: pointer;
  width: 400px;
}

/* line 96, ../sass/styles.scss */
#end-turn {
  display: none;
}

/* line 100, ../sass/styles.scss */
.dice {
  border-radius: 5px;
  background-color: #404040;
  color: white;
  padding: 20px;
  font-size: 20px;
  width: 40px;
  display: inline-block;
  margin-left: 10px;
  margin-top: 5px;
  text-align: center;
}

/* line 113, ../sass/styles.scss */
.users {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
/* line 117, ../sass/styles.scss */
.users h3 {
  display: inline-block;
  margin-left: 20px;
}
/* line 121, ../sass/styles.scss */
.users .farkled {
  font-style: normal;
}

/* line 126, ../sass/styles.scss */
.roll-dice {
  background-color: #475f77;
  padding: 5px 20px 5px 20px;
  text-align: center;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 5px;
  display: inline-block;
}
/* line 135, ../sass/styles.scss */
.roll-dice:hover {
  background-color: #5F6C77;
}

/* line 141, ../sass/styles.scss */
#end-turn {
  background-color: #d74b4b;
  padding: 5px 20px 5px 20px;
  text-align: center;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 5px;
  width: 132px;
}
/* line 150, ../sass/styles.scss */
#end-turn:hover {
  background-color: #D77979;
}

/* line 155, ../sass/styles.scss */
#reset {
  background-color: #d74b4b;
  padding: 5px 20px 5px 20px;
  text-align: center;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 15px;
  width: 132px;
  position: absolute;
}
/* line 165, ../sass/styles.scss */
#reset:hover {
  background-color: #D77979;
}

/* line 170, ../sass/styles.scss */
.game-table {
  width: 600px;
  height: 200px;
  border: 1px solid #354B5E;
  background-color: #DCDDD8;
  margin-left: auto;
  margin-right: auto;
}

/* line 179, ../sass/styles.scss */
.game-controls {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* line 185, ../sass/styles.scss */
.possible {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

/* line 192, ../sass/styles.scss */
.lightbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(220, 221, 216, 0.45);
  z-index: 150;
  display: none;
}

/* line 202, ../sass/styles.scss */
.alerts {
  z-index: 100;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  text-align: center;
  border: 2px solid #475f77;
  background-color: #FFFFFF;
}
/* line 211, ../sass/styles.scss */
.alerts h3 {
  margin-bottom: 0;
  color: #ff2800;
}

/* line 217, ../sass/styles.scss */
.info {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
/* line 221, ../sass/styles.scss */
.info div {
  display: inline-block;
  margin-left: 10px;
}

/* line 227, ../sass/styles.scss */
.button {
  background-color: #d74b4b;
  padding: 5px 20px 5px 20px;
  text-align: center;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 5px;
  width: 132px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}
